[Desktop Entry]
Comment=Intel P-state and CPUFreq Manager
Name=Intel P-state and CPUFreq Manager
Icon=cpu
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Francesco Bonanno
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=mibofra@thefreecircle.org
X-KDE-PluginInfo-License=GPL2+
X-KDE-PluginInfo-Name=org.thefreecircle.mibofra.plasma.pstate
X-KDE-PluginInfo-Version=1.0.6
X-KDE-PluginInfo-Website=https://github.com/mibofra/plasma-pstate
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-StandAloneApp=true
